  <div class = "pagetop">
    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
  　　<div class="carousel-inner">
	      <div class="carousel-item active">
		      <%= image_tag 'spring.jpg', class: "d-block w-100", :alt => "spring" %>
	      </div>
	      <div class="carousel-item">
		      <%= image_tag 'summer.jpg', class: "d-block w-100", :alt => "summer" %>
        </div>
	      <div class="carousel-item">
		      <%= image_tag 'fall.jpg', class: "d-block w-100", :alt => "fall" %>
        </div>
        <div class="carousel-item">
		      <%= image_tag 'winter.jpg', class: "d-block w-100", :alt => "winter" %>
        </div>
        <div class = "form-title text-center bg">
          FamilyLogとは<br><p class = "title-description">家族の記録を共有するアプリです。<br>家族の予定の確認や、日記を作成する<br>ことができます。<br>家族の思い出を形に残しませんか？</p>
        </div>
      </div>
    </div>
  </div>
